.grid-footer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1vh;
    grid-auto-rows: minmax(10vh, auto);
    justify-items: stretch;
    padding: 2vh;
    width: 80vh;
    margin:auto;
}


.grid-footer div {
    background: hsl(192, 15%, 94%);
}

.title-footer{
     font-weight: bold;
}

.grid-footer div div {
    display: grid;
    padding: 1vh;
    gap: 1vh;
    
}
.element1{
    grid-column: 1/3;
}

.element1 .logo object {
    max-height: 30vh;
    width: auto; 
    height: auto; 
    max-width: 100%; 
}

.grid-footer > div:hover {
    border: 1px solid black
}

.element7 {
    grid-column: 1 /3;
}

.element8 {
    grid-column: 6 /8;
}

.element7, .element8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para los logos */
    gap: 1vh; /* Espacio entre los logos */
}

.store-container {
    padding: 1vh; /* Espacio interior para cada contenedor de logo */
}

.store-link {
    display: flex;
    align-items: center; /* Alineación vertical al centro */
    justify-content: center; /* Alineación horizontal al centro */
}

.store-logo {
    height: auto; /* Mantener la relación de aspecto */
    width: 3vh; /* Tamaño ajustable según sea necesario */
}

.linkes div {
    color: black; /* Color del texto, cambia según tus preferencias */
    text-decoration: none; /* Quitar subrayado de enlaces */
    cursor: pointer; 
  }